{% extends 'layout.html' %}
{% block body %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!--ISP Section-->
        <h3 class=" mb-4">Your ISP is</h3>
        <h1 class="masthead-heading text-uppercase mb-0">{{ yourISP }}</h1>

        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- IP-->
        <div class="p-4">
            <p class="masthead-subheading font-weight-light mb-0">Your IP</p>
            <h1 class=" mb-4">{{ip}}</h1>
        </div>

        <!-- City-->
        <div class="d-flex flex-column flex-lg-row justify-content-lg-center panel">
            <div class="p-4">
                <p class="masthead-subheading font-weight-light mb-0">City</p>
                <h1 class=" mb-4">{{city}}</h1>
            </div>

            <!-- Region-->
            <div class="p-4">
                <p class="masthead-subheading font-weight-light mb-0">Region</p>
                <h1 class=" mb-4">{{region}}</h1>
            </div>

            <!-- Country-->
            <div class="p-4">
                <p class="masthead-subheading font-weight-light mb-0">Country</p>
                <h1 class=" mb-4">{{country}}</h1>
            </div>
        </div>

        <!--Location Section-->
        <p class="masthead-subheading font-weight-light mb-0">Approximate Location</p>
        <img alt="Your ISP location" class="img-fluid rounded mt-3" src={{location}}>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!--Find other IP Section-->
        <p class="masthead-subheading font-weight-light mb-2">Search for other ISPs</p>
        <p class="mb-3">Want to know ISP and location of other IP, then enter the IP below</p>
        <form onsubmit="return findOtherIsp()">
        <div class="d-flex flex-column flex-lg-row justify-content-lg-center panel">
            <div class="input-group">
                <input class="form-control" placeholder={{ip}}
                       type="text" name="url" id="anotherIp"/>
                <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i> Find ISP</button>
            </div>
        </div>
            </form>

        <!--Share Report Section-->
        <p class="masthead-subheading font-weight-light mb-3 mt-5">Share your Report</p>
        <form onsubmit="document.getElementById('sharer').select();document.execCommand('copy');return false;">
        <div class="d-flex flex-column flex-lg-row justify-content-lg-center panel">
            <div class="input-group">
                <input value="http://127.0.0.1:5000/share/{{ip}}" class="form-control" name="url" id="sharer" type="text"/>
                <button class="btn btn-outline-primary" type="submit"><i class="fa fa-clipboard"></i> Copy link</button>
            </div>
        </div>
            </form>
    </div>


</header>
{% endblock %}
